# 1. Ignore everything in the root
/*


# 2. Allow all files in the root directory (like README.md, main.py, etc.)
!/*.*

# 3. Allow the .gitignore file itself
!.gitignore

# 4. Allow the src folder and everything inside it
!/src/

# Don't track log files to keep repository clean
logs.log
*.log

# Temp files generated during run
__pycache__/
logs.log

# Data files
*.csv
*.zip
*.tar.gz
*.pt

# Embeddings_stydy local for now
embeddings_stydu.ipynb
gradcam_study.ipynb